<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="jas.fitsdktester">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".FitService"/>
    <activity android:name=".ActivityTester"/>
    </application>

</manifest>
